---
import { getCollection } from "astro:content";
import Container from "@layouts/common/Container.astro";
import Link from "@components/ui/button.astro";
import Imagefull from "@components/ui/imagefull";
import { Icon } from "astro-icon/components";
import BaseLayout from "@layouts/BaseLayout.astro";

export async function getStaticPaths() {
    const projectEntries = await getCollection("project");
    return projectEntries.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}

export async function sortItem() {
    const projectEntries = await getCollection("project");
    const projects = projectEntries.map((entry) => ({
        id: entry.id,
        link: entry.data.link,
        order: entry.data.order,
    }));
    const sortedProjects = projects.sort((a, b) => a.order - b.order);
    return sortedProjects;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const sortedProjects = await sortItem();
const currentProjectIndex = sortedProjects.findIndex((project) => project.id === entry.id);
const nextProject = sortedProjects[currentProjectIndex + 1] || sortedProjects[0];
const previousProject =
    currentProjectIndex > 0
        ? sortedProjects[currentProjectIndex - 1]
        : sortedProjects[sortedProjects.length - 1];
---

<BaseLayout title={entry.data.name}>
    <Container>
        <div class="mt-3 px-5">
            <div
                class="prose prose-lg mx-auto mt-6 max-w-3xl text-base text-zinc-800 dark:prose-invert dark:text-zinc-300 flex flex-col gap-24">
                <article>
                    <Content />
                    <div class="flex flex-col gap-10">
                        {
                            entry.data.images.map((image) => (
                                <div class="flex flex-col gap-2">
                                    <div class="border-2 border-zinc-600 dark:border-zinc-300">
                                        <Imagefull
                                            src={image.src}
                                            alt={image.alt}
                                            class="project-img block h-full w-full transform cursor-zoom-in"
                                            client:load
                                        />
                                    </div>
                                    <div class="text-center">{image.alt}</div>
                                </div>
                            ))
                        }
                    </div>
                </article>
                <div class="flex flex-row gap-10 justify-center">
                    <Link
                        style="primary"
                        href={previousProject.link}
                        size="md"
                        class="inline-flex items-center gap-2 no-underline">
                        <Icon class="h-5 w-5" name="arrow-left" />
                        <span>Précédent</span>
                    </Link>
                    <Link
                        style="primary"
                        href={nextProject.link}
                        size="md"
                        class="inline-flex items-center gap-2 no-underline">
                        <span>Suivant</span>
                        <Icon class="h-5 w-5" name="arrow-right" />
                    </Link>
                </div>
            </div>
        </div>
    </Container>
</BaseLayout>
