---
import { Icon } from "astro-icon/components";
import Button from "@components/ui/Button.astro";
import { Image } from "astro:assets";
import { getProjects } from "@utils/fetchers";
import { getLangFromUrl, useTranslatedPath, useTranslations } from "@i18n/utils";

interface Image {
    default?: any;
    src: string;
    width: number;
    height: number;
    format: string;
}

const lang = getLangFromUrl(Astro.url);
const projects = await getProjects(lang);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const images = import.meta.glob<{ default: ImageMetadata }>("/src/assets/project/*.{jpeg,jpg,png,gif}");
projects.sort((a, b) => a.data.order - b.data.order);
---

<div id="projects" class="px-5">
    <h2 class="mb-2 text-3xl font-bold text-sky-700 dark:text-sky-500">{t("PROJETS")}</h2>
    {
        projects.map((project) => (
            <div id={project.slug}>
                <div class="m-auto flex flex-col py-8 sm:m-0 sm:w-auto sm:py-2 lg:my-8 lg:flex-row">
                    <div
                        class="h-[280px] min-w-0 overflow-hidden sm:min-w-[480px] border-2 border-zinc-600 dark:border-zinc-800"
                        transition:name={"img-" + project.slug}>
                        <a href={translatePath(project.data.link)}>
                            <Image
                                src={images[project.data.image.src]()}
                                alt={project.data.image.alt}
                                width={850}
                                height={425}
                                format="avif"
                                loading="eager"
                                class="block h-full w-full transform cursor-pointer object-cover object-top transition-all duration-1000 hover:scale-110"
                            />
                        </a>
                    </div>
                    <div class="my-4 flex flex-col lg:px-8">
                        <a href={translatePath(project.data.link)}>
                            <h3 class="flex projects-center text-3xl font-semibold tracking-tight text-zinc-800 dark:text-zinc-200">
                                {project.data.name}
                            </h3>
                        </a>
                        <p class="mt-3 text-zinc-800 dark:text-zinc-200">{project.data.description}</p>
                        <div class="mb-2 mt-7 flex lg:mb-5">
                            {project.data.links.website && (
                                <div class="mr-4">
                                    <a
                                        href={translatePath(project.data.links.website)}
                                        class="underline hover:text-sky-600 dark:hover:text-sky-200"
                                        target="_blank"
                                        rel="noopener noreferrer"
                                        aria-label={t("Lien vers le site web du projet")}
                                        title={t("Cliquez pour voir le site web")}>
                                        {t("Site web")} ↗︎
                                    </a>
                                </div>
                            )}
                            {project.data.links.project && (
                                <div>
                                    <a
                                        href={translatePath(project.data.links.project)}
                                        class="underline hover:text-sky-600 dark:hover:text-sky-200"
                                        target="_blank"
                                        rel="noopener noreferrer"
                                        aria-label={t("Lien vers le dépôt Git")}>
                                        {t("Git Repos")} ↗︎
                                    </a>
                                </div>
                            )}
                            {!project.data.links.project && (
                                <div>
                                    <a
                                        href={translatePath(project.data.link)}
                                        class="underline hover:text-sky-600 dark:hover:text-sky-200"
                                        aria-label={t(
                                            "Lien vers la page du projet contenant les liens des différents dépôts Git"
                                        )}>
                                        {t("Git Repos")} ↗︎
                                    </a>
                                </div>
                            )}
                        </div>
                        <div class="flex justify-start my-4 lg:mt-2 lg:justify-start">
                            {project.data.tag.map((t) => (
                                <span class=" text-zinc-800 dark:text-zinc-200 text-xs font-medium me-2 px-2.5 py-0.5 rounded  border border-zinc-600 dark:border-zinc-300 select-none">
                                    {t}
                                </span>
                            ))}
                        </div>
                        <div class="flex justify-center lg:mt-9 lg:justify-end">
                            <a
                                href={translatePath(project.data.link)}
                                aria-label={t("Lien vers la page du projet")}
                                title={t("Cliquez pour voir le projet")}
                                class="hidden lg:block ">
                                <Icon
                                    class="h-10 w-10 text-zinc-800 dark:text-zinc-400 hover:text-sky-600 dark:hover:text-sky-200"
                                    name="arrow-right"
                                />
                            </a>
                            <div class="text-center lg:hidden">
                                <Button
                                    style="primary"
                                    href={translatePath(project.data.link)}
                                    class="mt-4 inline-block rounded px-4 py-2">
                                    {t("En savoir plus")}
                                </Button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        ))
    }
</div>
