---
import { Icon } from "astro-icon/components";
import Button from "@components/ui/Button.astro";
import { Image } from "astro:assets";
import { getProjects } from "@utils/fetchers";
import { getLangFromUrl, useTranslatedPath, useTranslations } from "@i18n/utils";
import Link from "./ui/Link.astro";

interface Image {
    default?: any;
    src: string;
    width: number;
    height: number;
    format: string;
}

const lang = getLangFromUrl(Astro.url);
const projects = await getProjects(lang);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const images = import.meta.glob<{ default: ImageMetadata }>("/src/assets/project/*.{jpeg,jpg,png,gif}");
projects.sort((a, b) => a.data.order - b.data.order);
---

<div id="projects" class="px-5 flex flex-col gap-8">
    <h2 class="text-3xl font-bold text-blue_dark dark:text-blue_light">{t("PROJETS")}</h2>
    <div class="flex flex-col gap-12 lg:gap-12">
        {
            projects.map((project, index) => (
                <div id={project.data.id} class="m-auto flex flex-col sm:m-0 sm:w-auto lg:flex-row gap-8 py-4">
                    <div
                        class="overflow-hidden border-2 border-zinc-600 dark:border-zinc-800"
                        transition:name={"img-" + project.slug}>
                        <a href={translatePath(`/project/${project.slug}/`)}>
                            <Image
                                src={images[project.data.image.src]()}
                                alt={project.data.image.alt}
                                format="avif"
                                loading={index === 0 ? "eager" : "lazy"}
                                decoding="async"
                                width="850"
                                height="425"
                                class="block transform cursor-pointer object-cover object-top transition-all duration-1000 hover:scale-110 h w-full h-full"
                            />
                        </a>
                    </div>
                    <div class="flex flex-col w-full justify-between gap-10 lg:gap-0">
                        <div class="flex flex-col w-full gap-6 lg:pt-4">
                            <div class="flex flex-col gap-4">
                                <a href={translatePath(`/project/${project.slug}/`)}>
                                    <h3 class="flex projects-center text-3xl font-semibold tracking-tight text-zinc-800 dark:text-zinc-200">
                                        {project.data.name}
                                    </h3>
                                </a>
                                <p class="text-zinc-800 dark:text-zinc-200">{project.data.description}</p>
                            </div>
                            <div class="flex gap-4">
                                {project.data.links.website && (
                                    <Link
                                        href={project.data.links.website}
                                        ariaLabel={t("Lien vers le site web du projet")}
                                        title={t("Cliquez pour voir le site web")}
                                        text={t("Site web")}
                                    />
                                )}
                                {project.data.links.project && (
                                    <Link
                                        href={project.data.links.project}
                                        ariaLabel={t("Lien vers le dépôt Git")}
                                        text={t("Code source")}
                                    />
                                )}
                                {!project.data.links.project && (
                                    <Link
                                        href={translatePath(`/project/${project.slug}/#${t("links")}`)}
                                        ariaLabel={t(
                                            "Lien vers la page du projet contenant les liens des différents dépôts Git"
                                        )}
                                        text={t("Code source")}
                                    />
                                )}
                            </div>
                            <div class="flex flex-wrap justify-start lg:justify-start flex-row gap-2">
                                {project.data.tag.map((t) => (
                                    <span class="text-zinc-800 dark:text-zinc-200 text-xs font-medium px-2.5 rounded border border-zinc-600 dark:border-zinc-300 select-none">
                                        {t}
                                    </span>
                                ))}
                            </div>
                        </div>
                        <div class="flex justify-center lg:justify-end mr-2">
                            <a
                                href={translatePath(`/project/${project.slug}/`)}
                                aria-label={t("Lien vers la page du projet")}
                                title={t("Cliquez pour voir le projet")}
                                class="hidden lg:block group">
                                <Icon
                                    class="h-10 w-10 text-zinc-800 dark:text-zinc-400 hover:text-blue_dark dark:hover:text-blue_light transition-transform duration-300 group-hover:translate-x-2"
                                    name="arrow-right"
                                />
                            </a>
                            <div class="text-center lg:hidden">
                                <Button
                                    style="primary"
                                    href={translatePath(`/project/${project.slug}/`)}
                                    class="inline-block rounded px-4">
                                    {t("En savoir plus")}
                                </Button>
                            </div>
                        </div>
                    </div>
                </div>
            ))
        }
    </div>
</div>
