---
import { Icon } from "astro-icon/components";
import Button from "@components/ui/button.astro";
import { Image } from "astro:assets";

interface Frontmatter {
    [x: string]: any;
    order: number;
    name: string;
    description: string;
    image: {
        src: string;
        alt: string;
    };
    stack: {
        frontend?: string[];
        backend?: string[];
        project?: string[];
    };
    links: {
        frontend?: string;
        backend?: string;
        extensionStore?: string;
        project?: string;
        website?: string;
        extension?: string;
    };
    link: string;
    tag: string[];
}

interface Image {
    default?: any;
    src: string;
    width: number;
    height: number;
    format: string;
}

const projects = await Astro.glob<Frontmatter>("../content/project/*.mdx");
const images = import.meta.glob<{ default: ImageMetadata }>("/src/assets/project/*.{jpeg,jpg,png,gif}");
projects.sort((a, b) => a.frontmatter.order - b.frontmatter.order);
---

<div id="project" class="px-5">
    <h2 class="mb-2 text-3xl font-bold text-sky-700 dark:text-sky-500">PROJETS</h2>
    {
        projects.map((item) => (
            <div class="">
                <div class="m-auto flex flex-col py-8 sm:m-0 sm:w-auto sm:py-2 lg:my-8 lg:flex-row">
                    <div class="h-[280px] min-w-0 overflow-hidden border-2 border-zinc-600 dark:border-zinc-300 sm:min-w-[480px]">
                        <a href={item.frontmatter.link}>
                            <Image
                                src={images[item.frontmatter.image.src]()}
                                alt={item.frontmatter.image.alt}
                                class="block h-full w-full transform cursor-pointer object-cover object-top transition-all duration-1000 hover:scale-110"
                            />
                        </a>
                    </div>
                    <div class="my-4 flex flex-col lg:px-8">
                        <a href={item.frontmatter.link}>
                            <h3 class="flex items-center text-3xl font-semibold tracking-tight text-zinc-800 dark:text-zinc-200">
                                {item.frontmatter.name}
                            </h3>
                        </a>
                        <p class="mt-3 text-zinc-800 dark:text-zinc-200">{item.frontmatter.description}</p>
                        <div class="mb-2 mt-7 flex lg:mb-5">
                            {item.frontmatter.links.website && (
                                <div class="mr-4">
                                    <a
                                        href={item.frontmatter.links.website}
                                        class="underline hover:text-sky-600 dark:hover:text-sky-200"
                                        target="_blank"
                                        rel="noopener noreferrer"
                                        aria-label="Lien vers le site web du projet"
                                        title="Cliquez pour voir le site web ">
                                        Site web ↗︎
                                    </a>
                                </div>
                            )}
                            {item.frontmatter.links.project && (
                                <div>
                                    <a
                                        href={item.frontmatter.links.project}
                                        class="underline hover:text-sky-600 dark:hover:text-sky-200"
                                        target="_blank"
                                        rel="noopener noreferrer"
                                        aria-label="Lien vers le dépôt Git">
                                        Git Repos ↗︎
                                    </a>
                                </div>
                            )}
                            {!item.frontmatter.links.project && (
                                <div>
                                    <a
                                        href={`${item.frontmatter.link}#liens`}
                                        class="underline hover:text-sky-600 dark:hover:text-sky-200"
                                        aria-label="Lien vers la page du projet contenant les liens des différents dépôts Git">
                                        Git Repos ↗︎
                                    </a>
                                </div>
                            )}
                        </div>
                        <div class="flex justify-start my-4 lg:mt-2 lg:justify-start">
                            {item.frontmatter.tag.map((t) => (
                                <span class=" text-zinc-800 dark:text-zinc-200 text-xs font-medium me-2 px-2.5 py-0.5 rounded  border border-zinc-600 dark:border-zinc-300 select-none">
                                    {t}
                                </span>
                            ))}
                        </div>
                        <div class="flex justify-center lg:mt-9 lg:justify-end">
                            <a
                                href={item.frontmatter.link}
                                aria-label="Lien vers la page du projet"
                                title="Cliquez pour voir le projet"
                                class="hidden lg:block ">
                                <Icon
                                    class="h-10 w-10 text-zinc-800 dark:text-zinc-400 hover:text-sky-600 dark:hover:text-sky-200"
                                    name="arrow-right"
                                />
                            </a>
                            <div class="text-center lg:hidden">
                                <Button
                                    style="primary"
                                    href={item.frontmatter.link}
                                    class="mt-4 inline-block rounded px-4 py-2">
                                    En savoir plus
                                </Button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        ))
    }
</div>
